*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template: 1fr/6fr 4fr;
  width: 1024px;
}

/* NAVBAR */
p {
  display: inline-block;
  margin-left: 20px;
}

.header {
  height: 768px;
  width: 1024px;
}

.nav-bar {
  display: grid;
  grid-template: 1fr/ 1fr 1fr 8fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  padding: 7px 20px;
}

.logo {
  height: 3em;
  width: 8em;
}

.logo-wrap {
  position: relative;
}

.logo-des {
  position: absolute;
}

.color-ash {
  color: #a7a7b7;
}

.src-wrap {
  display: flex;
  height: 30px;
  border: 1px solid #a7a7b7;
  margin-top: 5px;
}

.srcIcon-wrap {
  padding: 5px 15px;
  border-left: 1px solid #a7a7b7;
}

.sign-but {
  height: 30px;
  background-color: rgb(22, 122, 198);
  border: none;
}

.icons {
  height: 18px;
  width: 18px;
}

input {
  width: 480px;
  padding-left: 5px;
  border-style: none;
}

.close {
  background: transparent;
  border: none;
  float: right;
}

.alert {
  padding: 7px 15px;
  background-color: #167ac6;
  height: 40px;
}

.lang-wrap {
  margin: 0 10px;
  float: left;
}

.learn-more {
  padding: 0 20px;
  border: 2px solid #167ac6;
}

.learn-info {
  float: right;
  padding-top: 15px;
}

.blue {
  color: #167ac6;
}

.white {
  color: white;
}

/* MID-SECTION */

/* ASIDE-DIV */

/* BOTTOM-DIV */

/* GRID */
